<ul class="nav navbar-nav collapse navbar-collapse">
    <li><a href="index.html" class="active">Home</a></li>
    <li class="dropdown">
        <a asp-controller="Shop" asp-action="Index">Shop<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Shop" asp-action="Index">Products</a></li>
            <li><a asp-controller="Shop" asp-action="ProductDetails">Product Details</a></li>
            <li><a asp-controller="Shop" asp-action="Checkout">Checkout</a></li>
            <li><a asp-controller="Shop" asp-action="Cart">Cart</a></li>
            <li><a asp-controller="Shop" asp-action="Login">Login</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#">Blog<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
            <li><a asp-controller="Blog" asp-action="BlogSingle">Blog Single</a></li>
        </ul>
    </li>
    <li><a asp-controller="Error404" asp-action="Index">404</a></li>
    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
    <li><a asp-controller="Employees" asp-action="Index">Сотрудники</a></li>
</ul>
